.button1 {
    border:solid 1px var(--color3);
    border-radius: 30px;
    padding:10px 20px 10px 20px;
    @extend .pointer;
}
.button1:hover {
    transform: scale(110%);
    color:var(--background);
    background-color: var(--color3);
}