#customDisplay {
    padding:3% 0% 3% 0%;
    @include box(100%);
    @include flex(column,center,center);

    #customControllers {
        @include flex(row,space-between,center);
        width:150px;
        padding:7px 15px;
        border: solid 1px var(--text);
        border-radius: 30px;

        .controller {
            @extend .pointer;
            height:20px;
        }
        .controller:hover {
            transform:scale(110%);
            filter: invert(76%) sepia(56%) saturate(293%) hue-rotate(10deg) brightness(288%) contrast(120%);
        }
    }

    #customGrid {
        margin-top: 25px;
        border:solid 1px var(--text);
        @include box(402px);

        display: grid;
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(20, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;     
    }
}